//Postgres configuration
profile = "slick.jdbc.PostgresProfile$"
db {
  connectionPool = disabled
  driver = "org.postgresql.Driver"
  url = "jdbc:postgresql://localhost:5432/<DB_NAME>"
  user = ""
  password = ""
  numThreads = 10
}

//SQLite configuration
profile = "slick.jdbc.SQLiteProfile$"
db {
  driver = "org.sqlite.JDBC"
  url = "jdbc:sqlite:<<FILE>>"
}
